In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'gender_submission.csv', 'test.csv']

In [2]:
dataset = pd.read_csv('../input/train.csv')
testset = pd.read_csv ('../input/test.csv')


dataset.head()

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
dataset['Age'] = dataset['Age'].fillna(dataset['Age'].median())
dataset['Embarked']= dataset['Embarked'].fillna(dataset['Embarked'].value_counts().index[0])

dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [4]:
testset['Age'] = testset['Age'].fillna(testset['Age'].median())
testset['Fare'] = testset['Fare'].fillna(testset['Fare'].median())
testset['Embarked']= testset['Embarked'].fillna(testset['Embarked'].value_counts().index[0])
testset.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [5]:
features= [ 'Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']
x = dataset[features]
y = dataset['Survived']
X = testset[features]

In [6]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
x['Sex'] = LE.fit_transform(x['Sex'])
x['Embarked'] = LE.fit_transform(x['Embarked'])

X['Sex'] = LE.fit_transform(X['Sex'])
X['Embarked'] = LE.fit_transform(X['Embarked'])

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.1,random_state =0)

In [8]:
from keras.models import Sequential
from keras.layers import Dense



model = Sequential()
model.add(Dense(14, input_dim=7, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(10, activation='sigmoid'))

model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(x_train, y_train , epochs=30, batch_size=3)
x_test['Age'] = x_test['Age'].fillna(x_test['Age'].median())
x_test['Fare'] = x_test['Fare'].fillna(x_test['Fare'].median())
scores = model.evaluate(x_test, y_test)

scores

Using TensorFlow backend.

WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/30
801/801 [==============================] - 1s 797us/step - loss: 0.6666 - acc: 0.5868
Epoch 2/30
801/801 [==============================] - 0s 386us/step - loss: 0.6182 - acc: 0.6891
Epoch 3/30
801/801 [==============================] - 0s 380us/step - loss: 0.6022 - acc: 0.6891
Epoch 4/30
801/801 [==============================] - 0s 386us/step - loss: 0.5935 - acc: 0.6904
Epoch 5/30
801/801 [==============================] - 0s 384us/step - loss: 0.5853 - acc: 0.6966
Epoch 6/30
801/801 [==============================] - 0s 392us/step - loss: 0.5802 - acc: 0.6891
Epoch 7/30
801/801 [==============================] - 0s 393us/step - loss: 0.5687 - acc: 0.7016
Epoch 8/30
801/801 [==============================] - 0s 388us/step - loss: 0.5609 - acc: 0.6979
Epoch 9/30
801/801 [==============================] - 0s 393us/step - loss: 0.5516 - acc: 0.7116
Epoch 10/30
801/801 [==============================] - 0s 379us/step - loss: 0.5357 - acc: 0.7366
Epoch 11/30
801/801 [==============================] - 0s 385us/step - loss: 0.5235 - acc: 0.7516
Epoch 12/30
801/801 [==============================] - 0s 391us/step - loss: 0.5067 - acc: 0.7678
Epoch 13/30
801/801 [==============================] - 0s 388us/step - loss: 0.4967 - acc: 0.7840
Epoch 14/30
801/801 [==============================] - 0s 383us/step - loss: 0.4890 - acc: 0.7953
Epoch 15/30
801/801 [==============================] - 0s 388us/step - loss: 0.4822 - acc: 0.7865
Epoch 16/30
801/801 [==============================] - 0s 387us/step - loss: 0.4781 - acc: 0.7928
Epoch 17/30
801/801 [==============================] - 0s 390us/step - loss: 0.4739 - acc: 0.7828
Epoch 18/30
801/801 [==============================] - 0s 389us/step - loss: 0.4691 - acc: 0.7953
Epoch 19/30
801/801 [==============================] - 0s 377us/step - loss: 0.4630 - acc: 0.7990
Epoch 20/30
801/801 [==============================] - 0s 387us/step - loss: 0.4657 - acc: 0.7890
Epoch 21/30
801/801 [==============================] - 0s 388us/step - loss: 0.4526 - acc: 0.8027
Epoch 22/30
801/801 [==============================] - 0s 382us/step - loss: 0.4489 - acc: 0.8115
Epoch 23/30
801/801 [==============================] - 0s 389us/step - loss: 0.4530 - acc: 0.7940
Epoch 24/30
801/801 [==============================] - 0s 388us/step - loss: 0.4488 - acc: 0.8065
Epoch 25/30
801/801 [==============================] - 0s 386us/step - loss: 0.4455 - acc: 0.8040
Epoch 26/30
801/801 [==============================] - 0s 386us/step - loss: 0.4570 - acc: 0.7965
Epoch 27/30
801/801 [==============================] - 0s 387us/step - loss: 0.4369 - acc: 0.7990
Epoch 28/30
801/801 [==============================] - 0s 380us/step - loss: 0.4394 - acc: 0.8052
Epoch 29/30
801/801 [==============================] - 0s 385us/step - loss: 0.4385 - acc: 0.8090
Epoch 30/30
801/801 [==============================] - 0s 389us/step - loss: 0.4345 - acc: 0.8115
90/90 [==============================] - 0s 495us/step

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

[0.4060633109675513, 0.7888888928625318]

In [9]:
prediction = model.predict(X)
prediction[1][0]
pdf=[]
for i in range (len(prediction)):
    if (prediction[i][0]>0.6):
        pdf.append(1)
    else :
        pdf.append(0)
    
pdf
#testset['PassengerId']
output = pd.DataFrame({'PassengerId': testset['PassengerId'],'Survived':pdf})
output.to_csv('submission.csv', index=False)
output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         0
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]